.pink {color: pink;}
.white{color: white;}
.green{color: limegreen;}
.limegreen{color: limegreen;}
.lightgreen{color: lightgreen;}
.lightred{color: rgb(255, 0, 119);}

.bpink{background-color: pink;}
.bwhite{background-color: white;}
.bgreen{background-color: limegreen;}
.blimegreen{background-color: limegreen;}
.blightgreen{background-color: lightgreen}
.blightred{background-color: rgb(255, 0, 119);}

* {
    margin: 0;
    padding: 0;
}

body{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 3rem;
    z-index: 2;
    display: flex;
    padding: 0.5rem;
    font-size: 1.9rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* GAME START UP SCREEN  */
.game_start_up {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.game_feature_screen {
    width: 30rem;
    padding: 1rem;
    border-radius: 20px;
}

.game_feature_screen .title {
    display: flex;
    font-size: 2rem;
    font-weight: 599;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    border-bottom: 10px solid lightgreen;
}

.game_feature_screen .query {
    padding-left: 1rem;
    padding-right: 1rem;
}

.game_feature_screen .table_container {
     display: flex;
     font-size: 1.2rem;
     margin-top: 0.5rem;
     align-items: center;
     justify-content: center;
}

.game_feature_screen .table_container .table span {
    font-weight: 500;
}

.game_feature_screen .submit {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.game_feature_screen .submit a {
    width: 5rem;
    padding: 0.5rem;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
}

.game_feature_screen .submit a:hover {
    transform: scale(1.1);
    background-color: limegreen;
}


/* GAME MAIN PLAY GROUND  */
.game {
    width: 100vw;
    height: 100vh;
}

.game .score_container {
    width: 90vw;
    height: 5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
}

.game .score_container .score_box {
    width: 10rem;
    display: flex;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game .score_container .score_box .score_logo {
    height: 2rem;
}

.game .game_ground {
    width: 50rem;
    height: 40rem;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    border-radius: 20px;
    border: 3px solid white;
}

.game .game_ground .wepon {
    width: 30%;
    height: 30%;
}

.game_ground_div {
    width: 50%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    border-radius: inherit;
    justify-content: center;
    border: 2px solid white;
}

.game .game_ground .card {
    height:70%;
    width: 70%;
    display: flex;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game .game_ground .card .start {
    transform: scale(1.5);
}

/* WINNER MODAL  */
.modal_container {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed; 
    padding-top: 100px;
}
  
.modal {
    width: 50rem;
    margin: auto;
    padding: 2rem;  
    position: relative;
    border-radius: 20px;
    animation-duration: 0.7s;
    animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-name: animatetop;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal .modal_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.modal .modal_header img {
    width: 30rem;
    height: 15rem;

}

.modal .modal_body {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.modal .modal_body h3 {
    text-align: center;
    font-size: 2.5rem;
}

.modal .modal_body h4 {
    font-size: 1rem;
    text-align: center;
    
}

.modal .restart {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}

.modal .restart a {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.modal .restart a:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}


.dnone {
    display:none !important;
}
