/* TEXT COLORS */
.pink {
    color: pink;
}

.white {
    color: white;
}

.green {
    color: limegreen;
}

.limegreen {
    color: limegreen;
}

.lightgreen {
    color: lightgreen;
}

.lightred {
    color: rgb(255, 0, 119);
}



/* BACKGROUND COLORS  */
.bpink{ 
    background-color: pink;
}

.bwhite {
    background-color: white;
}

.bgreen {
    background-color: limegreen;
}

.blimegreen {
    background-color: limegreen;
}

.blightgreen {
    background-color: lightgreen
}

.blightred {
    background-color: rgb(255, 0, 119);
}



/* DISPLAY CLASSES  */
.dnone {
    display:none !important;
}


/* ALWAYS COMPONENTS */
* {
    margin: 0;
    padding: 0;
}

body{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 3rem;
    z-index: 2;
    display: flex;
    padding: 0.5rem;
    font-size: 1.9rem;
    position: relative;
    align-items: center;
    justify-content: center;
}



/* GAME START UP SCREEN  */
.game_start_up {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.game_feature_screen {
    width: 30rem;
    padding: 1rem;
    border-radius: 20px;
}

.game_feature_screen .title {
    display: flex;
    font-size: 2rem;
    font-weight: 599;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    border-bottom: 10px solid lightgreen;
}

.game_feature_screen .query {
    padding-left: 1rem;
    padding-right: 1rem;
}

.game_feature_screen .table_container {
     display: flex;
     font-size: 1.2rem;
     margin-top: 0.5rem;
     align-items: center;
     justify-content: center;
}

.game_feature_screen .table_container .table span {
    font-weight: 500;
}

.game_feature_screen .submit {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.game_feature_screen .submit a {
    width: 5rem;
    padding: 0.5rem;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
}

.game_feature_screen .submit a:hover {
    transform: scale(1.1);
    background-color: limegreen;
}



/* GAME MAIN PLAY GROUND  */
.game {
    width: 100vw;
    height: 100vh;
}

.game .score_container {
    width: 90vw;
    height: 5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
}

.game .score_container .score_box {
    width: 10rem;
    display: flex;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game .score_container .score_box .score_logo {
    height: 2rem;
}

.game .game_ground {
    width: 50rem;
    height: 40rem;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    margin-top: 3rem;
    border-radius: 20px;
    border: 3px solid white;
}

.game .game_ground .wepon {
    width: 30%;
    height: 30%;
}

.game_ground_div {
    width: 49%;
    height:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    border-radius: inherit;
    justify-content: center;
    border: 2px solid white;
}

.game .game_ground .card {
    height:70%;
    width: 70%;
    display: flex;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game .game_ground .card .start {
    transform: scale(1.5);
}



/* WINNER MODAL  */
.modal_container {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed; 
    padding-top: 100px;
}
  
.modal {
    width: 50%;
    margin: auto;
    padding: 2rem;  
    position: relative;
    border-radius: 20px;
    animation-duration: 0.7s;
    animation-name: animatetop;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal .modal_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.modal .modal_header img {
    width: 80%;
    height: 40%;
}

.modal .modal_body {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.modal .modal_body h3 {
    text-align: center;
    font-size: 2.5rem;
}

.modal .modal_body h4 {
    font-size: 1rem;
    text-align: center;
    
}

.modal .restart {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
}

.modal .restart a {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.modal .restart a:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}



/* ANIMATIONS AND MAJOR EFFECTS */
@keyframes animatetop {
    from {
        top:-300px; 
        opacity:0
    }

    to {
        top:0; 
        opacity:1
    }
}

@keyframes shake {
    0% {  
        transform: translate(1px, 1px) rotate(0deg); 
    }

    10% { 
        transform: translate(-1px, -2px) rotate(-1deg); 
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg); 
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg); 
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg); 
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg); 
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg); 
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg); 
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg); 
    }

    90% {
        transform: translate(1px, 2px) rotate(-1deg); 
    }

    100% {
        transform: translate(1px, -2px) rotate(0deg); 
    }

}

@media screen and (max-width: 900px) {
    .game .game_ground {
        width: 90vw;
    }
}

@media screen and (max-width: 830px) {
    .game .game_ground {
        height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .game .score_container {
        margin-top: 2rem;
    }

    .game .game_ground {
        height: 55vh;
    }
}

@media screen and (max-width: 850px) {
    .game .game_ground {
        height: 50vh;
    }
}

@media screen and (max-width: 740px) {
    .game .game_ground .card {
        height: 80%;
        width: 80%;
    }

    .modal .modal_header img {
        width: 90%;
        height: 45%;
    }

    .modal .modal_body {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .game .game_ground {
        width: 60vw;
        height: 35vh;        
    }

    .game .game_ground_div {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .game_feature_screen {
        width: 70%;
    }
    
    .modal .modal_body h3 {
        font-size: 2rem;
    }

    .modal .modal_body h4 {
        font-size: 0.5;
    }
}

@media screen and (max-width: 600px) {
    .game .game_ground {
        width: 70vw;
    }
}

@media screen and (max-width: 540px) {
    .game_feature_screen {
        width: 75%;
    }

    .modal .modal_body {
        padding-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .modal .modal_body h3 {
        font-size: 1.5rem;
    }

    .modal .modal_body h4 {
        font-size: .9rem;
    }
}

@media screen and (max-width: 455px) {
    .game .score_container .score_box {
        width: 30vw;
    }
}

@media screen and (max-width: 440px) {
    .modal .modal_body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .modal .modal_body img {
        width: 100%;
        height: 50%;
    }

}

@media screen and (max-width: 400px) {
    .game .score_container .score_box {
        font-size: 0.8rem;
    }

    .game .score_container .score_box .score_logo{
        height: 1.5rem;
    }
    
    .modal {
        width: 60%;
    }

    .modal .modal_body h3 {
        font-size: 1.2rem;
    }

    .modal .modal_body h4 {
        font-size: .8rem;
    }
}

@media screen and (max-width: 350px) {
    .modal {
        width: 70%;
        padding: 1rem;
    }
    
    .modal .modal_body {
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
    .game .score_container .score_box {
        justify-content: center;
    }

    .game .score_container .score_box .score_logo{
        display: none;
    }

    .game .game_ground {
        height: vh;
    }
}